@model BestReg.Data.VetAppointment

<h2>Create Appointment</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label asp-for="AppointmentType" class="control-label">Appointment Type</label>
            <select asp-for="AppointmentType" class="form-control mb-2 mr-sm-2" asp-items="ViewBag.AppointmentTypes"></select>
            <span asp-validation-for="AppointmentType" class="text-danger"></span>
        </div>

        <div class="col-auto">
            <label asp-for="StartTime" class="control-label">Start Time</label>
            <input asp-for="StartTime" class="form-control mb-2 mr-sm-2" type="datetime-local" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>

        <div class="col-auto">
            <label asp-for="EndTime" class="control-label">End Time</label>
            <input asp-for="EndTime" class="form-control mb-2 mr-sm-2" type="datetime-local" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>

        <!-- The VetAdminId field is now removed from the view -->
        <!-- Submit Button -->
        <div class="col-auto align-self-end">
            <button type="submit" class="btn btn-primary mb-2" style="background-color: #007bff; border-color: #007bff;">
                <i class="fas fa-plus"></i> Create
            </button>
        </div>
    </div>
</form>
