@{
    ViewData["Title"] = "Home Page";
}

<div class="video-background">
    <video autoplay muted loop id="bgVideo">
        <source src="/videos/Chickenvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>


<div class="welcome-container text-center">
    <h1 class="display-4 welcome-title">Welcome to Our Farm!</h1>
    <p>
        We're excited to have you here at our chicken farm. Our farm is home to a variety of chicken breeds, each known for their unique characteristics and contributions to our farm's ecosystem. Whether you're interested in learning about egg production, chicken care, or the different breeds we raise, you've come to the right place!
    </p>

</div>
